.btn {
    width: 40%;
    height: 50px;
    justify-content: center;
    display: block;
    color: #fff;
    background: #884f1adb;
    font-size: 25px;
    margin: 8% 30%;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background: #91541c;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .btn {
        width: 25%;
        height: 30px;
        font-size: 17px;
        margin-left: 38%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
    .btn{
        width: 25%;
        height: 40px;
        margin-left: 38%;
        margin-top: 3%;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
    .btn {
        width: 36%;
        height: 50px;
        margin-left: 28%;
        font-size: 28px;
    }
}