.container, .container-mesas{
    display: flex;
    width: 84%;
    height: 450px;
    margin: 5% 7%;
    padding: 3% 0%;
    justify-content: space-between;
    background-color: #fff;
}

.container-mesas{
    flex-wrap: wrap;
    font-size: 12px;
}

/* .mesas{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
} */

.container-menu-pedidos{
    display: flex;
    margin-left: 3%;
    overflow: auto;
    width: 70%;
    flex-wrap: wrap;
}


.container-pedi{
    width: 40%;
    margin-right: 3%;
    background-color: #F6F8A0;
    text-align: center;
}

.total{
    height: 7%;
    background-color: #38B6FF;
    font-size: 12px;
}

.mesa1{
    width: 21%;
    margin: 0% 6% 3% 6%;
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {

    .container-mesas{
        flex-wrap: wrap;
        font-size: 12px;
        height: 680px;
    }

    .mesa1{
        width: 15%;
        margin: 0% 4% 3% 4%;
    }
}