.container, .container-status-pedi, .container-historico{
    display: flex;
    width: 84%;
    height: 450px;
    margin: 5% 7%;
    padding: 3% 0%;
    justify-content: space-between;
    background-color: #fff;
    overflow: auto;
}

.container-status-pedi, .container-historico{
    text-align: center;
    width: 87%;
    height: 700px;
    display: flex;
}

.container-mesas{
    display: flex;
    width: 84%;
    height: 450px;
    margin: 5% 7%;
    padding: 3% 0%;
    background-color: #fff;
    overflow: auto;
    flex-wrap: wrap;
    font-size: 12px;
}

.container-menu-pedidos{
    display: flex;
    margin-left: 3%;
    overflow: auto;
    width: 70%;
    flex-wrap: wrap;
}


.container-pedi{
    width: 40%;
    margin-right: 3%;
    margin-bottom: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;  
    background-color: #F6F8A0;  
}

/*//////////////// PEDIDOS ////////////////////////////////*/

.container-pedi-peding, .container-pedi-ready, .container-pedi-inprogress, .container-pedi-delivered{
    width: 30%;
    margin: -2% 2%;
    overflow: auto;
}

.total{
    height:11%;
    background-color: #38B6FF;
    font-size: 13px;
}

.fa-trash-alt {
    font-size: 20px;
    margin-left: 10%;
}


@media screen and (min-width: 1024px) and (max-width: 1800px) {

    .fa-trash-alt {
        font-size: 30px;
        margin-left: 45%;
        margin-top: 10px;
    }
    

    .container-mesas{
        flex-wrap: wrap;
        font-size: 12px;
        height: 680px;
    }

    /* .mesa1{
        width: 100%;
        margin: 0% 0% -3% 0%;
    } */
}