.item-order{
    display: flex;
    flex-direction: column;
    width: 100%;
   /* margin-top: -80px;*/
    padding: 1%;
    font-size: 14px;
    color: rgb(78, 71, 71);
}
.item-infos {
    display: flex;
    justify-content: space-between;  
}

.item-infos-flavor {
    display: flex;      
}

.info-item-order{
    padding-left: 4%;  
    font-size: 14px;
}

.info-item-order-flavor{
    font-size: 12px;
    margin-left: 4%;
}

.fa-minus-square {
    padding-right: 5px;
    font-size: 18px;
}

.comanda{
    height: 40%;
    max-height: 55%;
    margin-top: 7%;
    background-color: #F6F8A0;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;    
}