.item-order{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    font-size: 14px;
    color: rgb(78, 71, 71);
    list-style: none; 
}
.item-infos {
    display: flex;
    justify-content: space-between;  
}

.item-infos-flavor {
    display: flex;      
}

.info-item-order{
    padding-left: 1%;
    padding-right: 6%;
    font-size: 14px;
}

.info-item-order-flavor{
    font-size: 12px;
    margin-left: -2%;
    padding-left: 25%;
}

.fa-minus-square {
    padding-right: 5px;
    font-size: 18px;
}

.comanda {
    height: 40%;
    max-height: 80%;
    margin-left: 5%;
    margin-top: 10%;
    background-color: #F6F8A0;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;   
    z-index: 1100; 
}

.comanda-modal-pedidos{
    width: 50%;
    max-height: 100%;    
    margin: 5%;
    background-color: #F6F8A0;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;   
    z-index: 1100; 
}

.info-order-kitchen {
    display: flex;
    justify-content: space-between;
}

.info-pedido{
    display: flex;
    flex-direction: column;
}


.fa-receipt, .fa-calendar-check, .fa-clock, .fa-table, .fa-user, .fa-hourglass{
    display: flex;
    margin: 2%;
    font-size: 15px;
    justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
    .comanda-modal-pedidos{
        width: 40%;
    }
}