.footer, .footer-home{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    padding-top: 8px;
    color: #000;
    background: #884f1adb;
    font-weight:lighter;
    font-size: 17px;
    text-align: center;
}

.footer a, .footer-home a {
    padding: 3px;
    color: white;
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .footer{
        height: 5%;
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
    .footer{
        width: 66%;
        height: 25px;
        font-size: 18px;
        margin-left: 34%;
        border-radius: 40px 0px 0px;
    }

    .footer-home{
        font-size: 20px;
    }
}