.page {
    display: flex;
    flex-direction: column;  
   /* padding-left: 10%;  */
}

.menu-produtos {
    margin: 50px;
    background-color: white;
    width: 80%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}